/* General */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  text-align: center;
  line-height: 1.6;
  font-size: 1rem;
}

@media (min-width: 650px) {
  body {
    font-size: 1.125rem;
  }
}

/* Typography */
.small {
  color: #f18119;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 0.25em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 900;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff895d, #df4e13, #ffa51d) 1;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.3125rem;
  color: #404040;
  font-weight: 900;
}

strong {
  font-weight: 900;
}

.subtitle {
  color: #f18119;
  text-transform: uppercase;
  font-size: 1.3125rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
}

.cta-text {
  text-transform: uppercase;
  color: #f18119;
  font-weight: 900;
  margin-bottom: 1.5em;
}

.info {
  color: #5a5a5a;
  margin-bottom: 1.5em;
}

.disclaimer {
  font-size: 0.625rem;
  color: #989898;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 1px;
}

@media (min-width: 625px) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5em;
  }

  .subtitle,
  h2 {
    font-size: 1.75rem;
  }

  .subtitle {
    line-height: 1;
  }
}

/* Layout */
.intro {
  background: url(./images/dark-ribs.jpg);
  /* background-image: url(images/ribs.jpg), linear-gradient(45deg,red, blue); */
  background-color: #404040;
  /* For background-blend-mode to work a background-image and background-color or a background-image and a gradient are needed */
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 1.5em 2.5em;
  color: #fff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  padding: 2.5em 1.5em;
}

@media (min-width: 625px) {
  .container {
    display: flex;
    margin: 0 auto;
  }

  .intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 100vh;
  }

  .main-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .small {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Solution for larger screens to not set a max-width on the container */
.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Form */
.email-collector {
  width: 80%;
  max-width: 300px;
}

input {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  padding: 0.25em 1em;
  text-align: inherit;
  border-radius: 5px;
  border: 1px solid #818181;
  font-size: 1rem;
  font-family: inherit;
}

input:focus {
  border: 1px solid #ff713b;
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 0.625rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.75em;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: inline-block;
}

.btn-cta {
  margin: 0 auto 1em;
  width: 100%;
  background: linear-gradient(270deg, #ff713b, #ffa51d);
  color: #fff;
  transition: color 0.3s ease;
}

.btn-cta:hover,
.btn-cta:focus {
  color: #000;
}
